
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: copperplate;
    font-size: 16px;
    color: #240346;
    background-color: #F3EFFF;
    text-align: center;
  }


  ul {
    list-style-position: inside;
    text-align: left;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }
  h2{
    font-size: 2em;
    margin: 0;
    text-align: center;
    color: #039156;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);

  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
  }
  
  .box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    padding: 2em;
    margin: 1em 0;
    background-image: url('../img/flower.jpg');
    background-size: cover;
  background-position: center;

  }
  .box p{
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    color: #004b2c;

  }
  
  .button {
    display: inline-block;
    background-color:#039156;
    color: #004b2c;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

  }
  
  .button:hover {
    background-color: #c26dff;
  }
  
  .text {
    font-style: italic;
    text-align: center;
    margin: 2em 0;
    color: #ba66ff;
  }
  
  header {
    background-color: #c49dfb;
    color: #FFFFFF;
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav {
    background-color: #ba66ff;
    color: #FFFFFF;
    padding: .5em;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: .5em;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #FFFFFF;
    text-decoration: none;
  }

  nav a:hover {
    color: #240346;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
  }
  
  article {
    flex: 2;
    margin-right: 20px;
  }
  
  aside {
    flex: 1;
  }
  
  .picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    list-style: none;
  }
  
  .picture img {
    width: 100%;
    height: auto;
    display: block;
  }

  
  .feature {
    margin-right: 20px;
  }
  .feature img {
    padding: 1em;
    width: 25%;
    height: 40%;
    max-height: 100%;
    display: block;
    margin-left: auto;
  margin-right: auto;
  }

  .feature p{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  @media screen and (max-width: 500px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
  
    article {
      margin-right: 0;
    }
  
    .feature {
      float: none;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  #dog{
    position: fixed;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  animation-name: move;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes move {
    0%{left:0;top:20vh}
    25%{left:75vw;top:20vh}
    50%{left:75vw;top:80vh;}
    75%{left:0vw;top:80vh;}
    100%{left:0;top:20vh;}
}

  
  footer {
    background-image: url('../img/dogribbon.png');
    background-size: cover;
  background-position: center;
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    color: #9efce5;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    font-weight: bold;
  }
  